In [10]:
hi = "hello world"
print hi

hello world

In [11]:
print hi + ", my name is david"

hello world, my name is david

In [12]:
import requests
res = requests.get('https://tw.stock.yahoo.com/q/q?s=2330')
print res

<Response [200]>

In [13]:
#print res.text

In [14]:
import requests
res = requests.get('http://justdata.yuanta.com.tw/z/zk/zkf/zkResult.asp?D=1&A=x@10,a@30&site=')
print res.encoding
res.encoding = 'big5'
#print res.text

ISO-8859-1

In [15]:
payload = {
'encodeURIComponent':'1',
'step':'1',
'firstin':'1',
'TYPEK':'sii',
'code':'',
'year':'104',
'season':'03',    
}

In [16]:
print payload['year']

104

In [19]:
import requests
#print dir(requests)
res = requests.post('http://mops.twse.com.tw/mops/web/ajax_t163sb19', data = payload)
#print res.text

In [21]:
res.encoding = 'utf-8'
#print res.text

In [31]:
import requests
payload = {
'select_item':'1',
'select_subitem':'1',
'Submit':'%B7j%B4M'
}
res = requests.post('http://www.twse.com.tw/ch/listed/listing_profile_inquiry.php', data=payload)
res.encoding = 'big5'
print type(res)
#print res.text

<class 'requests.models.Response'>

In [55]:
from bs4 import BeautifulSoup 
html_sample = ''' 
<html> 
 <body> 
 <h1 id="title">Hello World</h1> 
 <a href="#" class="link">This is link1</a> 
 <a href="# link2" class="link">This is link2</a> 
 </body> 
 </html>'''

soup = BeautifulSoup(html_sample, 'html.parser')
#print soup
#print type(soup)
print soup.text

Hello World
This is link1
This is link2

In [56]:
soup = BeautifulSoup(html_sample, 'html.parser') 
alink = soup.select('a') 
print type(alink)
print alink[0]
print type(alink[0])

<type 'list'>
<a class="link" href="#">This is link1</a>
<class 'bs4.element.Tag'>

In [57]:
h1 = soup.select('h1')
print h1
print h1[0]
print h1[0].text

[<h1 id="title">Hello World</h1>]
<h1 id="title">Hello World</h1>
Hello World

In [58]:
h1 = soup.select('#title') # id => #
print h1
print h1[0]
print h1[0].text

[<h1 id="title">Hello World</h1>]
<h1 id="title">Hello World</h1>
Hello World

In [59]:
links = soup.select('.link') # class => .
print links
print links[1]
print links[1].text
#print h1[0].text

[<a class="link" href="#">This is link1</a>, <a class="link" href="# link2">This is link2</a>]
<a class="link" href="# link2">This is link2</a>
This is link2

In [60]:
links = soup.select('a')
print links[0]
print links[0]['href']

<a class="link" href="#">This is link1</a>
#

In [61]:
a = '<a qoo=123 href=google>test</a>'
soup2 = BeautifulSoup(a, 'html.parser')
print soup2
print soup2.select('a')[0]['qoo']
print soup2.select('a')[0]['href']
#print soup['qoo']

<a href="google" qoo="123">test</a>
123
google

In [62]:
links = soup.select('a')
for link in links:
    print link['href']

#
# link2

In [66]:
#yui_3_5_1_13_1459136205160_7 > table:nth-child(9) > tbody > tr > td > table > tbody > tr:nth-child(2) > td:nth-child(3) > b
# pip install beautifulsoup4
import requests
from bs4 import BeautifulSoup as bs
res = requests.get('https://tw.stock.yahoo.com/q/q?s=2330')

In [69]:
#print res.text
soup = bs(res.text)
#print soup.text
print soup.select('b')
print soup.select('b')[0]
print soup.select('b')[0].text

[<b>158.5</b>]
<b>158.5</b>
158.5

In [74]:
table = soup.select('table + table table')
tr = table[0].select('tr')[1]
print tr.select('td')[0].select('a')[0].text

2330台積電

In [94]:
print soup.select('td a')[12].text

2330台積電

In [95]:
import requests
from bs4 import BeautifulSoup as bs
res = requests.get('https://tw.stock.yahoo.com/q/q?s=2330')
soup = bs(res.text)

In [96]:
table = soup.select('table + table table')[0]

In [100]:
tr  = table.select('tr')
for td in tr[1].select('td'):
    print td.text

2330台積電加到投資組合
13:30
159.0
158.5
159.0
△1.0

15,268
158.0
158.0
159.0
157.0

成交明細技術　新聞基本　籌碼個股健診

In [101]:
s = " \t string test \t \n\n\r" ' \t string test \t \n\n\r' 
print s

 	 string test

 	 string test

In [102]:
print s.lstrip()

string test

 	 string test

In [103]:
print s.rstrip()

 	 string test

 	 string test

In [104]:
print s.strip()

string test

 	 string test

In [107]:
a = '12311111'
a.strip('1')

'23'

In [108]:
tr  = table.select('tr')
for td in tr[1].select('td'):
    print td.text.strip()

2330台積電加到投資組合
13:30
159.0
158.5
159.0
△1.0
15,268
158.0
158.0
159.0
157.0
成交明細技術　新聞基本　籌碼個股健診

In [109]:
tr  = table.select('tr')
for th in tr[0].select('th'):
    print th.text.strip()

股票代號
時間
成交
買進
賣出
漲跌
張數
昨收
開盤
最高
最低
個股資料

In [112]:
a = []
a.append(1)
a.append(2)
print a

[1, 2]

In [111]:
value = []
tr  = table.select('tr')
for td in tr[1].select('td'):
    value.append(td.text.strip())
#print value

In [114]:
name = []
tr  = table.select('tr')
for th in tr[0].select('th'):
    name.append(th.text.strip())
#print name

In [115]:
#declare dictionary 
dic = {'a':100, 'b':"yes", 'c':0.98} 
print dic

{'a': 100, 'c': 0.98, 'b': 'yes'}

In [116]:
#get keys in dictionary 
print dic.keys()

['a', 'c', 'b']

In [117]:
#get values in dictionary 
print dic.values()

[100, 0.98, 'yes']

In [118]:
#get value of given key 
print dic['a']

100

In [119]:
print dic['d']

KeyError: 'd'

In [120]:
#get value of given key 
print dic.get('a')

100

In [121]:
print dic.get('d')

None

In [123]:
print dic.get('a', 'default')
print dic.get('d', 'default')

100
default

In [124]:
#add entry into dictionary 
dic['d'] = 'new' 
print dic

{'a': 100, 'c': 0.98, 'b': 'yes', 'd': 'new'}

In [125]:
#add entry into dictionary 
dic.update({'e':123}) 
print dic

{'a': 100, 'c': 0.98, 'b': 'yes', 'e': 123, 'd': 'new'}

In [126]:
# iter the dictionary 
for rec in dic: 
    print rec, dic[rec]

a 100
c 0.98
b yes
e 123
d new

In [127]:
print name
print value

[u'\u80a1\u7968\u4ee3\u865f', u'\u6642\u9593', u'\u6210\u4ea4', u'\u8cb7\u9032', u'\u8ce3\u51fa', u'\u6f32\u8dcc', u'\u5f35\u6578', u'\u6628\u6536', u'\u958b\u76e4', u'\u6700\u9ad8', u'\u6700\u4f4e', u'\u500b\u80a1\u8cc7\u6599']
[u'2330\u53f0\u7a4d\u96fb\u52a0\u5230\u6295\u8cc7\u7d44\u5408', u'13:30', u'159.0', u'158.5', u'159.0', u'\u25b31.0', u'15,268', u'158.0', u'158.0', u'159.0', u'157.0', u'\u6210\u4ea4\u660e\u7d30\u6280\u8853\u3000\u65b0\u805e\u57fa\u672c\u3000\u7c4c\u78bc\u500b\u80a1\u5065\u8a3a']

In [130]:
dic = {}
for n, v in zip(name, value):
    dic[n] =  v

In [132]:
print dic['成交'.decode('utf-8')]

159.0

In [141]:
import requests
from bs4 import BeautifulSoup as bs
res = requests.get('http://www.cmoney.tw/notes/?aid=3')
soup = bs(res.text)
for article in soup.select('.p-article'):
    print article.select('h2')[0].text, \
          article.select('.author a')[0].text, \
          article.select('.browsN span')[0].text, \
          article.select('.article-date')[0].text

這 3 檔「隱藏版好股」1 個月漲 22%！看懂了，下個月的飆股，自然是 ____ 權證小哥 15379 2016-3-15
陸股波動大，用這「3 招」做陸股，你也能一日賺 20%！ 權證小哥 3440 2016-3-7
持股還沒漲嗎？原來只要靠「3大法人 + 這 1 招」讓你每次出手都在「起漲點」！ 權證小哥 8419 2016-3-4
2/18 浩鼎 (4174)「假突破」，原來這時候...應該要，下次再看到像這樣過熱一定先跑再說！ 權證小哥 6908 2016-3-1
原來用___方式做股票，讓你上班「不看盤」也能穩穩賺利息，甚至賺到大波段！ 權證小哥 6610 2016-2-26
只要看準這 6 點：當出現...黃金交叉時，就是抓住飆股「起漲」的好時機！ 權證小哥 6375 2016-2-18
原來只要看到 ___，就表示股價要反彈了！難怪這 3 條線，大家都 搶著學！ 權證小哥 7105 2016-2-16
股價上漲，權證一定漲嗎？那可不一定...玩權證，要知道的 10 個小撇步 ！(內附 3 檔危險清單) 權證小哥 2624 2016-2-3
市場上有一群「神秘大戶」，專門操作「金融股」...學會這招，明天就幫自己加薪 3000元！ 權證小哥 14256 2016-2-3
權證的高槓桿 是它迷人之處，但這 9 大指標不可不知！尤其是第 5 點... 權證小哥 4094 2016-2-2

In [145]:
import requests
import json
ACCESSTOKEN = 'AppID|AppSecret'

res = requests.get('https://graph.facebook.com/v2.5/tsaiingwen/posts?access_token={}'.format(ACCESSTOKEN) )

In [156]:
#pip install jieba
import jieba
from collections import Counter
c = Counter()
jd = json.loads(res.text)
for rec in jd['data']:
    for ele in jieba.cut(rec['message']):
        c[ele] +=1
for ele in c.most_common(10):
    if len(ele[0]) >= 2:
        print ele[0], ele[1]

In [158]:
import pandas as pd
df = pd.DataFrame([['frank', 'M', 29], ['mary', 'F', 23], ['tom', 'M', 35], ['ted', 'M', 33], ['jean', 'F', 21], ['lisa', 'F', 20]])
df

       0  1   2
0  frank  M  29
1   mary  F  23
2    tom  M  35
3    ted  M  33
4   jean  F  21
5   lisa  F  20

In [160]:
df.head(3)

       0  1   2
0  frank  M  29
1   mary  F  23
2    tom  M  35

In [161]:
df[0]

0    frank
1     mary
2      tom
3      ted
4     jean
5     lisa
Name: 0, dtype: object

In [162]:
df[0][2]

'tom'

In [163]:
df.columns = ['name', 'gender', 'age']
df

    name gender  age
0  frank      M   29
1   mary      F   23
2    tom      M   35
3    ted      M   33
4   jean      F   21
5   lisa      F   20

In [164]:
df['age']

0    29
1    23
2    35
3    33
4    21
5    20
Name: age, dtype: int64

In [166]:
df['age'].mean()

26.833333333333332

In [167]:
df.describe()

             age
count   6.000000
mean   26.833333
std     6.400521
min    20.000000
25%    21.500000
50%    26.000000
75%    32.000000
max    35.000000

In [168]:
df.ix[1]

name      mary
gender       F
age         23
Name: 1, dtype: object

In [169]:
df.ix[1:4]

   name gender  age
1  mary      F   23
2   tom      M   35
3   ted      M   33
4  jean      F   21

In [170]:
df['name']

0    frank
1     mary
2      tom
3      ted
4     jean
5     lisa
Name: name, dtype: object

In [171]:
df[['name','age']]

    name  age
0  frank   29
1   mary   23
2    tom   35
3    ted   33
4   jean   21
5   lisa   20

In [172]:
df['gender'] == 'M'

0     True
1    False
2     True
3     True
4    False
5    False
Name: gender, dtype: bool

In [173]:
df[df['gender'] == 'M']

    name gender  age
0  frank      M   29
2    tom      M   35
3    ted      M   33

In [174]:
df[df['gender'] == 'M'].mean()

age    32.333333
dtype: float64

In [176]:
df[df['gender'] == 'F'].mean()

age    21.333333
dtype: float64

In [177]:
df.groupby('gender')['age'].mean()

gender
F    21.333333
M    32.333333
Name: age, dtype: float64