In [8]:
import requests
payload={
'encodeURIComponent':'1',
'step':'1',
'firstin':'1',
'TYPEK':'sii',
'code':'',
'year':'104',
'season':'03'    
}
res = requests.post('http://mops.twse.com.tw/mops/web/ajax_t163sb19', data=payload)
res.encoding = 'utf-8'
#print res.text

In [10]:
from bs4 import BeautifulSoup as bs
soup = bs(res.text, 'html.parser')

In [15]:
import pandas as pd
dfs = pd.read_html(soup.prettify('utf-8'), encoding='utf-8', header=0)

In [18]:
dfs[2]['營業收入'.decode('utf-8')]

0       2278102
1     145699706
2     232854191
3     250678904
4       1467439
5           NaN
6       8477479
7           NaN
8      16334937
9       2274857
10     15751120
11      9766655
12      2071424
13     10310043
14          NaN
15      3354193
16      3722115
17       810474
18     39546827
19       971007
20      8941610
21     13086181
22      3651709
23     13191550
24     33466894
25     21480374
26          NaN
27          NaN
Name: 營業收入, dtype: float64

In [24]:
#dir(dfs[0]['公司代號'.decode('utf-8')].str)

In [25]:
#dfs[0]['公司代號'.decode('utf-8')].str.match('^[0-9]+')

0      True
1      True
2      True
3      True
4     False
5      True
6     False
7      True
8      True
9     False
10    False
Name: 公司代號, dtype: bool

In [36]:
import re
email = 'apple@gmail.com'
str1 = 'a'
m = re.search('a', str1)
print m

m = re.search('b', str1)
print m

m = re.search('[abcdefghijklmnopqrstuvwxyz]', str1)
print m

m = re.search('[a-z]', str1)
print m

<_sre.SRE_Match object at 0x000000000A5F3168>
None
<_sre.SRE_Match object at 0x000000000A5F42A0>
<_sre.SRE_Match object at 0x000000000A5F3168>

In [41]:
num = '3'

m = re.search('3', num)
print m

m = re.search('[0123456789]', num)
print m

m = re.search('[0-9]', num)
print m

m = re.search('\d', num)
print m

<_sre.SRE_Match object at 0x000000000A5F31D0>
<_sre.SRE_Match object at 0x000000000A5F3238>
<_sre.SRE_Match object at 0x000000000A5F31D0>
<_sre.SRE_Match object at 0x000000000A5F3238>

In [40]:
str2 = 'A'
m = re.search('[0-9a-z]', str2)
print m

m = re.search('[0-9a-zA-Z]', str2)
print m

m = re.search('\w', str2)
print m

None
<_sre.SRE_Match object at 0x000000000A5F31D0>
<_sre.SRE_Match object at 0x000000000A5F3238>

In [43]:
str3 = '!'
m = re.search('.', str2)
print m

<_sre.SRE_Match object at 0x000000000A5F3440>

In [49]:
phone = '0912345678'
m = re.search('\d{10}', phone)
print m

phone2 = '021234554344234i2423'
m = re.search('\d{10,}', phone2)
print m

phone3 = ''
m = re.search('\d{0,}', phone3)
print m

phone3 = ''
m = re.search('\d*', phone3) # {0,}
print m


phone4 = '2'
m = re.search('\d{1,}', phone4)
print m

phone4 = '2'
m = re.search('\d+', phone3) # {1,}
print m

<_sre.SRE_Match object at 0x000000000A5F3BF8>
<_sre.SRE_Match object at 0x000000000A5F3D30>
<_sre.SRE_Match object at 0x000000000A5F3BF8>
<_sre.SRE_Match object at 0x000000000A5F3D30>
<_sre.SRE_Match object at 0x000000000A5F3BF8>
None

In [52]:
phones = ['0912345678', '0912-345678', '0912-345-678', '0912345678912345']
print [re.search('\d{10}', phone) for phone in phones]
print [re.search('\d{4}-{0,1}\d{3}-?\d{3}', phone) for phone in phones] #{0,1} => ?
print [re.search('^\d{4}-?\d{3}-?\d{3}$', phone) for phone in phones]

[<_sre.SRE_Match object at 0x000000000A5F3C60>, None, None, <_sre.SRE_Match object at 0x000000000A5F3D98>]
[<_sre.SRE_Match object at 0x000000000A5F3C60>, <_sre.SRE_Match object at 0x000000000A5F3D98>, <_sre.SRE_Match object at 0x000000000A5F34A8>, <_sre.SRE_Match object at 0x000000000A5F3510>]
[<_sre.SRE_Match object at 0x000000000A5F3C60>, <_sre.SRE_Match object at 0x000000000A5F3D98>, <_sre.SRE_Match object at 0x000000000A5F34A8>, None]

In [54]:
emails = ['a@gmail.com', '0912@vcool.com', '1-1*@1', 'a@qoo.com.tw', 'thisisatest']
print [re.search('^[a-z]\w*@\w+\..+', email) for email in emails]

[<_sre.SRE_Match object at 0x000000000A5F3C60>, None, None, <_sre.SRE_Match object at 0x000000000A5F3510>, None]

In [56]:
df = dfs[0]
df[df['公司代號'.decode('utf-8')].str.match('^[0-9]+')]

,公司代號,公司名稱,產業別,基本每股盈餘(元),普通股每股面額,營業收入,營業利益,營業外收入及支出,稅後淨利
0,1104,環球水泥股份有限公司,水泥工業,1.46,新台幣 10.0000元,3770779,96507,886531,909732
1,1102,亞洲水泥股份有限公司,水泥工業,1.41,新台幣 10.0000元,49113910,2854548,2234539,4406554
2,1101,台灣水泥股份有限公司,水泥工業,1.08,新台幣 10.0000元,69118302,6607616,-723929,4691790
3,1108,幸福水泥股份有限公司,水泥工業,1.01,新台幣 10.0000元,3765704,559253,-17865,399494
5,1110,東南水泥股份有限公司,水泥工業,0.21,新台幣 10.0000元,1371851,69135,53277,122288
7,1109,信大水泥股份有限公司,水泥工業,-0.09,新台幣 10.0000元,3204963,-6131,-48231,-101495
8,1103,嘉新水泥股份有限公司,水泥工業,-0.62,新台幣 10.0000元,1957612,-400817,31022,-384582

In [57]:
dfall = []
for df in dfs:
    dfall.append(df[df['公司代號'.decode('utf-8')].str.match('^\d+')])

In [60]:
stockdf = pd.concat(dfall, ignore_index=True)

In [62]:
stockdf[stockdf['公司代號'.decode('utf-8')] == '2330']

,公司代號,公司名稱,產業別,基本每股盈餘(元),普通股每股面額,營業收入,營業利益,營業外收入及支出,稅後淨利
475,2330,台灣積體電路製造股份有限公司,半導體業,9.01,新台幣 10.0000元,639978805,2.42084e+08,2.77012e+07,233714112